.icon-list{
  list-style:none;
  width: auto;
   height: 300px;
   display:flex;
   flex-direction: row;
   gap: 100px;
   margin-left: -100px;
}
.description{
  width: 200px;
  margin-left: 14rem;
}

@media screen and (max-width: 999px){
  .icon-list{
    list-style:none;
   height: 200px;
   display:flex;
   flex-direction: row;
   gap: 20px;
  }
  .description{
    position: relative;
    margin-left: 100px;
  }
  .header{
    position:relative;
    margin-left: 40px;
  }
}
@media screen and(max-width:400px){
  
}