.module-2 {
  margin-top: 100px;
  position: relative;
  background-color: rgba(81, 31, 31, 0.6);
  margin-left: 120px;
  height: 783px;
  width: 1100px;
  border-radius: 62px;
}

.p3 {
  width: 452px;
  height: auto;
  margin-top: -230px;
  margin-left: 50px;
}

.human {
  width: 423px;
  height: 295px;
  margin-left: 580px;
  margin-top: 50px;
  border-radius: 20px;
}

.wave {
  width: 456px;
  height: 275px;
  margin-top: 170px;
  margin-left: 50px;
  border-radius: 20px;
}

.header-2 {
  width: 400px;
  height: 45px;
  margin-left: 550px;
  margin-top: -230px;
  font-size: 24px;
}

.p4 {
  width: 444px;
  height: 144px;
  margin-left: 34.4rem;
  margin-top: -20px;
}

/* Large tablets and small laptops */
@media screen and (max-width: 1200px) {
  .module-2 {
    margin-left: 60px;
    width: 900px;
    height: 700px;
  }
  
  .human {
    width: 380px;
    height: 265px;
    margin-left: 480px;
  }
  
  .header-2, .p4 {
    margin-left: 480px;
  }
}

/* Tablets */
@media screen and (max-width: 992px) {
  .module-2 {
    margin-left: 30px;
    width: 1000px;
    height: 700px;
  }
  
  .human {
    width: 300px;
    height: 210px;
    margin-left: 630px;
    margin-top: 30px;
  }
  
  .p3 {
    width: 452px;
    margin-top: -200px;
    margin-left:110px;
   font-size:22px;
   height:216px;
  }
  
  .wave {
    width: 380px;
    height: 230px;
    margin-top:20px;
    width: 300px;
    margin-left:110px;
    height:275px;
  }
  
 .header-2{
  position:relative;
  margin-left:450px;
 }
 .p4{
  position:relative;
  margin-left:440px;
  font-size:22px;
  height:144px;
  width:432px;
 }
}

/* Small tablets */
@media screen and (max-width: 768px) {
  .module-2 {
    margin-left: 200px;
    max-width: 1000px !important;
    height: 1500px;
  }
  
  .human {
    display: block;
    margin: 40px auto;
     top:10px !important;
    margin-left: 250px;
    width: 500px !important;
    height: 400px;
  }
  
  .p3 {
    width: 300px;
    margin: 20px auto;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 35px;
    width: 900px !important;
  }
  
  .wave {
    width: 500px;
    height: 400px;
    margin: 30px auto;
    margin-left: 200px;

  }
  
  .header-2 {
    margin-left: 190px;
    width: 700px;
    font-size: 40px;
  }
  
  .p4{
    position:relative;
    font-size: 34px;
    width:700px !important;
    left:-240px;
    margin-top:10px;
  }
  
  .header-2 {
    margin-top: 30px;
  }
}


@media screen and (max-width: 576px) {
 .module-2{
  position:relative;
  width: 1100px !important;
  margin-left: 100px;
  height: 1600px !important;
top:100px !important;
 }
 .human{
  position:relative;
  top:20px !important;
   width: 560px !important;
   height: 400px !important;
  
 }
 .p3{
  position:relative;
  font-size: 34px !important;
  width: 600px;
  margin-left: 150px;
  top:30px;
 }
 .wave{
  position:relative;
 top:80px !important;
 left: 130px !important;
 height: 400px;
 width:550px;
 
 }
 .header-2{
  position:relative;
  font-size: 34px;
  width: 500px;
  margin-left: 200px;
  margin-top:80px;
 }
 .p4{
  position:relative;
  font-size:34px;
  width: 600px;
  left: -190px;
  margin-top:20px;
 }
}




@media screen and (max-width: 400px) {
  .module-2{
    position: relative;
    max-width:1000px;
    margin-left:70px;
  }
  .human{
    position:relative;
    margin-top:100px;
    left:-100px !important;
  }
  .header-2 {
    font-size: 18px;
    position:relative;
    margin-left:10px;
  }
  .p-4{
    position:relative;
    margin-left:10px;
  }
  .p3{
    position:relative;
    font-size: 34px !important;
    margin-left: 10px;
  }
  
  .wave{
    position:relative;
    top:10px;
    left: -100px !important;
  }
  .header-2{
    position:relative;
    font-size: 45px !important;
    width: 700px;
    left:170px ;
  }
 .p4{
  position:relative;
  font-size: 38px!important;
  margin-top:40px;
  margin-left: 270px;
 }
}